.section-features-product {
   padding-top: 120px;
   overflow: hidden;

   .features-product-row {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
   }

   .features-product-col {
      padding: 0;
      width: 100%;
      max-width: 33.3333%;
      flex: 0 0 33.3333%;
      &[right], &[left] {
         margin-top: 30px;
         position: relative;
         z-index: 1;
      }
      &[right] {
         .item {
            $j: 0.2s;
            @for $i from 1 through 2 {
               $j: $j +0.11s;
               &:nth-child(#{$i}) {
                  &.animate {
                     @include animateScrollFadeIn($toRight: true, $duration: 1.2s, $transform: 30px, $delay: $j)
                  }
               }
            }
         }
      }

      &[left] {
         .item {
            $j: 0.2s;
            @for $i from 1 through 2 {
               $j: $j +0.11s;
               &:nth-child(#{$i}) {
                  &.animate {
                     @include animateScrollFadeIn($toLeft: true, $duration: 1.2s, $transform: 30px, $delay: $j)
                  }
               }
            }
         }
      }
   }

   .item {
      display: flex;
      align-items: flex-start;
      gap: 30px;
      .info {
         margin-top: 40px;
         .text {
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            color: var(--text);
            max-width: 315px;
            &[right] {
               text-align: right;
            }
         }
      }

      .icon {
         width: 89px;
         height: 89px;
         flex: 0 0 89px;
         border-radius: 50%;
         background: var(--decorationLight);
         display: flex;
         align-items: center;
         justify-content: center;
         box-shadow: -6.45027px 6.45027px 24.1885px rgba(46, 78, 96, 0.05);
         transition: all 0.2s ease;
         svg {
            color: var(--decorationBright);
            width: 43px;
            height: 30px;
            fill: none;
            stroke: var(--decoration);
            transition: all 0.2s ease;
         }
      }

      &:not(:last-child) {
         margin-bottom: 150px;
      }
      &:hover {
         .icon {
            background: var(--decoration);
            svg { stroke: var(--lightness); }
         }
      }
   }

   .features-product-swiper {
      z-index: 0;
      &.animate {
         @include animateScrollFadeIn($toTop: true, $delay: 0.05s)
      }
      .swiper-wrapper {
         width: 100%;
         .swiper-slide {
            display: flex;
            justify-content: center;
            width: 100%;
            img {
               max-width: 100%;
               height: auto;
            }
         }
      }
   }

   @media all and (max-width: 1440px) {
      .features-product-row { justify-content: center; }
      .features-product-col[right] .item { margin-right: -50px; }
      .features-product-col[left] .item { margin-left: -50px; }
   }

   @media all and (max-width: 1070px) {
      .features-product-row {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      .features-product-col { max-width: 100%; flex: 0 0 100%; }
      .features-product-col[right], .features-product-col[left] {
         margin-top: 0;
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         gap: 40px;
         .item { 
            margin: 0; 
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
            width: 100%;
            .info {
               margin-top: 0;
               order: 2;
               .text {
                  text-align: center;
                  max-width: 350px;
               }
            }
            .icon {
               margin-bottom: 30px;
               order: 1;
            }
         }
      }
      .features-product-col[right] {
         margin-bottom: 50px;
         order: 2;
      }
      .features-product-col[left] {
         order: 3;
      }
   }

   @media all and (max-width: 700px) {
      .features-product-col[right], .features-product-col[left] {
         flex-direction: column;
         align-items: center;
         gap: 50px;
         .item {
            width: 100%;
            .info {
               .text { max-width: 500px; }
            }
         }
      }
      .features-product-col[right] { margin-bottom: 50px; margin-top: 30px; }
   }
}