%sectionTitle {
   margin-bottom: 60px;
   padding-bottom: 1.5px;
   font-family: $Montserrat;
   font-size: 26px;
   font-weight: 700;
   line-height: 120%;
   color: $black;
   position: relative;
   overflow: hidden;
   transition: all 0.3s ease-out;
   
   .border-wrap {
      padding-bottom: 9px;
      border-bottom: 1px solid $borders;
   }

   &:after {
      content: '';
      position: absolute;
      bottom: 0.5px;
      height: 3px;
      width: 50px;
      background: $decoration;
      animation: titleLine 5s linear infinite forwards;
   }

   &.animate {
      opacity: 0;
      visibility: hidden;
      transform: translateY(5px);
      &.animation {
         opacity: 1;
         visibility: visible;
         transform: translateY(0);
      }
   }

   &.light {
      color: $white;
   }

   @media all and (max-width: 380px) {
      margin-bottom: 40px;
   }
}

.section-title {
   @extend %sectionTitle;
}

@media all and (max-width: 768px) {
   .section-title .border-wrap { padding-bottom: 15px; }
}

@keyframes titleLine {
   0% { left: -50px; }
   100% { left: 100%; }
}


.mobile-title {
   margin: 0 50px 40px 50px;
   padding-bottom: 10px;
   font-family: $Montserrat;
   font-size: 25px;
   font-weight: 700;
   line-height: 100%;
   color: $black;
   position: relative;
   &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 3px;
      background: $decoration;
   }

   @media all and (max-width: 490px) {
      margin: 0 30px 40px 30px;
   }
   @media all and (max-width: 400px) {
      margin: 0 30px 40px 20px;
   }
}