.ui-close {
   padding: 0;
   width: 20px;
   height: 20px;
   position: absolute;
   top: 0;
   left: 0;

   svg {
      width: 20px;
      height: 20px; 
      transition: all 0.1s ease-out;
   }
   &:active {
      svg {
         transform: scale(0.9);
      }
   }
}

.ui-close-wrap {
   &.dark {
      .ui-close svg {
         fill: $black;
      }
      .ui-close:hover svg {
         fill: $decoration;
      }
   }
    &.light {
      .ui-close svg {
         fill: $white;
      }
      .ui-close:hover svg {
         fill: $black;
      }
   }
}

.ui-mobileMenu {
   .ui-close {
      top: 7px;
      left: 10px;
   }
}