header {
   .h-top {
      padding: 10px 0;
      background: var(--lightness);
      position: relative;
      .ui-container {
         @include container($flex: true)
      }
      .work {
         font-family: $Montserrat;
         font-weight: 400;
         font-size: 13px;
         line-height: 169%;
         letter-spacing: 0.1px;
         color: var(--text);
         display: flex;
         align-items: center;
         strong {
            font-weight: 600;
         }
         img {
            margin-right: 8px;
            display: inline-block;
            width: 16px;
            height: 16px;
         }
      }

      
   }

   .h-bottom {
      padding: 10px 0 10px 0;
      background: var(--decorationLight);
      .ui-container {
         @include container($flex: true)
      }
      
      .contacts {
         display: flex;
         align-items: center;
         
      }
   }

   @media all and (max-width: 480px) {
      .h-bottom .contacts .phone { display: none; }
      .h-bottom .logo img { max-width: 100px; }
   }
   @media all and (max-width: 430px) {
      .h-top .work strong { display: none; }
      .h-top .work p { font-weight: 600;}
   }
}
