.header-default .icons-nav {
   li {
      svg {
         stroke: var(--text);
      }
   }
}

.header-single {
   .icons-nav {
      li {
         svg {
            stroke: var(--lightness);
         }
      }
   }
}

.icons-nav {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   gap: 25px;

   li {
      position: relative;
      cursor: pointer;

      span {
         width: 18px;
         height: 18px;
         background: var(--decorationBright);
         display: flex;
         align-items: center;
         justify-content: center;
         font-weight: 500;
         font-size: 10px;
         line-height: 19px;
         letter-spacing: -0.02em;
         color: var(--lightness);
         position: absolute;
         top: -9px;
         right: -12px;
         border-radius: 50%;
      }

      svg {
         fill: none;
         // stroke: var(--text);
         max-width: 19px;
         max-height: 19px;
      }

      &:hover {
         svg {
            stroke: var(--decorationBright);
         }
      }

      &.openSearch {
         svg {
            width: 16px;
            height: 16px;
         }
      }
   }
}