.header-default .icons-nav {
   li {
      svg {
         stroke: $text;
      }
   }
}

.header-single {
   .icons-nav {
      li {
         svg {
            stroke: $lightness;
         }
      }
   }
}

.icons-nav {
   display: flex;
   align-items: center;
   gap: 25px;

   li {
      position: relative;
      cursor: pointer;

      span {
         width: 18px;
         height: 18px;
         background: $decorationBright;
         display: flex;
         align-items: center;
         justify-content: center;
         font-weight: 500;
         font-size: 10px;
         line-height: 19px;
         letter-spacing: -0.02em;
         color: $lightness;
         position: absolute;
         top: -9px;
         right: -12px;
         border-radius: 50%;
      }

      svg {
         fill: none;
         // stroke: $text;
         max-width: 19px;
         max-height: 19px;
      }

      &:hover {
         svg {
            stroke: $decorationBright;
         }
      }

      &.openSearch {
         svg {
            width: 16px;
            height: 16px;
         }
      }
   }
}