.header-1{
   padding: 11px 0;
   background: var(--darkness);
   position: relative;
   z-index: 2;
   &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      box-shadow: 0px 0px 60px rgba(46, 78, 96, 0.25);
      &.active {
         transform: none;
         opacity: 1;
         visibility: visible;
         transition: all 1s ease-in-out;
      }
   }
   .ui-container {
      @include container($flex: true, $gap: 0)
   }
   .h-contacts {
      display: flex;
      align-items: center;
      gap: 13px;
   }
}