<header class="header-1 tecron">
   <div class="ui-container">
      <a href="/" class="logo">
         <img src="../img/optimized/logos/pperu_light.svg" alt="PPE.RU Logo">
         <h5 class="logo-title">Официальный представитель IntegraWay и TECRON в России</h5>
      </a>

      @@include('../../../ui-components/nav-menu/nav-menu.html')

      <div class="h-contacts">
         @@include('../../../ui-components/header-phone/header-phone.html')
         <div class="socials header-1-socials">
            @@include('../../../ui-components/socials/socials-header-1.html')
         </div>
         @@include('../../../ui-components/icons-nav/icons-nav.html')
         @@include('../../mobile-menu/burger-1.html')
      </div>
   </div>
</header>



<header class="header-1 tecron sticky">
   <div class="ui-container">
      <a href="/" class="logo">
         <img src="../img/optimized/logos/pperu_light.svg" alt="PPE.RU Logo">
         <h5 class="logo-title">Официальный представитель IntegraWay и TECRON в России</h5>
      </a>

      @@include('../../../ui-components/nav-menu/nav-menu.html')

      <div class="h-contacts">
         @@include('../../../ui-components/header-phone/header-phone.html')
         <div class="socials header-1-socials">
            @@include('../../../ui-components/socials/socials-header-1.html')
         </div>
         @@include('../../../ui-components/icons-nav/icons-nav.html')
         @@include('../../mobile-menu/burger-1.html')
      </div>
   </div>

</header>
@@include('../../mobile-menu/menu-2/menu-2.html')