.section-welcome {
   padding: 57px 0 42px 0;
   background: url('../../img/optimized/welcome-bg1.webp') no-repeat center / cover;

   .welcome-title {
      margin-bottom: 27px;
      font-family: $Montserrat;
      font-weight: 800;
      font-size: 45px;
      line-height: 115%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: $white;
      &.animate {
         @include animateScrollFadeIn($toLeft: true, $delay: 0.2s);
      }
   }

   ul {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      &.animate {
         @include animateScrollFadeIn($toLeft: true, $delay: 0.3s);
      }
      li {
         font-family: $Montserrat;
         font-weight: 300;
         font-size: 23px;
         line-height: 100%;
         text-align: center;
         letter-spacing: -0.02em;
         color: $white;
         &:not(:last-child) {
            padding-right: 15px;
            border-right: 1px solid $white;
         }
      }
   }
}

@media all and (max-width: 680px) {
   .section-welcome {
      .welcome-title { font-size: calc((100vw - 400px)/(680 - 400) * (48 - 28) + 28px); }
      ul li {  font-size: calc((100vw - 280px)/(680 - 280) * (24 - 16) + 16px); }
   }
}

@media all and (max-width: 480px) {
   .section-welcome {
         .welcome-title { line-height: 123%; }
      }
} 