.socials {
   padding-left: 20px;
   display: flex;
   align-items: center;
   gap: 15px;
   font-size: 15px;
   a {
      i {
      color: $socials;
      }
      svg {
         fill: $socials;
      }
      &:hover {
         svg {
            fill: $decoration
         }
         i {
            color: $decoration
         }
      }
   }
   
}