.header-single {
   padding: 7px 0;
   background: var(--darkness);
   position: relative;
   z-index: 2;
   .ui-container {
      @include container($flex: true, $gap: 0)
   }
   .h-contacts {
      display: flex;
      align-items: center;
      gap: 13px;
   }
}