.header-single {
   padding: 7px 0;
   background: $darkness;
   .ui-container {
      @include container ($flex: true);
   }
   .h-contacts {
      display: flex;
      align-items: center;
      gap: 13px;
   }
}