<header class="header-single">
   <div class="ui-container">
      <a href="/" class="logo">
         <img src="../img/optimized/logos/pperu_light.svg" alt="PPE.RU Logo">
         <h5 class="logo-title">Официальный представитель IntegraWay и TECRON в России</h5>
      </a>

      @@include('../../ui-components/nav-menu/nav-menu.html')

      <div class="h-contacts">
         @@include('../../ui-components/header-phone/header-phone.html')
         <div class="socials header-single-socials">
            @@include('../../ui-components/socials/socials.html')
         </div>
         @@include('../../ui-components/icons-nav/icons-nav.html')
      </div>
   </div>
</header>