.ui-close {
   padding: 0;
   width: 20px;
   height: 20px;
   position: absolute;
   top: 0;
   left: 0;
   svg {
      width: inherit;
      height: inherit; 
      stroke-width: 1.5;
      transition: all 0.1s ease-out;
   }
   &:active {
      svg {
         transform: scale(0.9);
      }
   }
}
.mobile-menu {
   .ui-close {
      position: relative;
      top: 0;
      right: 0;
      &:hover {
         stroke: var(--decorationBright);
      }
   }
   &[menu-1] {
      .ui-close {
         display: none;
         @media all and (max-width: 490px) {
            display: block;
         }
      }
   }

   &[menu-2] {
      .ui-close {
         display: block;
         stroke: var(--lightness);
         &:hover {
            stroke: var(--decorationBright);
         }
      }
   }
}

.popup[video] .ui-close {
   top: -30px;
   right: 0;
   left: auto;

   svg { stroke: var(--lightness); }
   &:hover {  stroke: var(--decorationBright); }
}

.popup[search] .ui-close {
   top: 40px;
   right: 40px;
   left: auto;
   svg { stroke: var(--decoration); }
   &:hover svg { stroke: var(--darkness); }
}