.phone {
   padding-right: 23px;
   font-family: $Montserrat;
   font-weight: 500;
   font-size: 16px;
   line-height: 169%;
   display: flex;
   align-items: center;
   letter-spacing: 0.122579px;
   color: $title;
   border-right: 1px solid $sectionDark;
   @include linksHover($hoverFullLinks: true);
   &:before {
      content: '';
      margin-right: 10px;
      display: block;
      width: 19px;
      height: 19px;
      background: url('../../../img/optimized/phone.svg') no-repeat center / contain;
   }
   span {
      position: relative;
      display: inline-block;
      transition: $bgsTransition, transform 0.2s ease-out
   }
   &:hover {
      span {
         transform: translateX(3px);
      }
   }
}

.header-single {
   .phone {
      @include linksHover($hoverFullLinks: true);
      padding-right: 16px;
      font-size: 14px;
      color: $lightness;
      letter-spacing: 0;
      border-color: $lightness;
      &:before {
         margin-right: 6px;
         background: url('../../../img/optimized/phone_red.svg') no-repeat center / contain;
      }
   }
}
