.contact-links {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: 15px;
   a {
      font-family: $Montserrat;
      font-size: 14px;
      font-weight: 600;
      line-height: 143%;
      color: $white;
      display: flex;
      align-items: center;
      @include linksHover($hoverFullLinks: true, $color: $white);
      svg {
         stroke: $white;
         fill: none;
         transition: all 0.1s ease-out;
      }
      span {
         margin-left: 14px;
         position: relative;
         display: inline-block;
      }
      &:hover {
         svg {
            fill: transparent;
            stroke: $decoration;
         }
         span {
            transform: translateX(3px);
         }
      }
   }

   &.mobile {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
      a {
         color: $black;
         svg {
            stroke: $decoration;
            fill: none;
         }
      }
      @media all and (max-width: 490px) {
         margin-left: 30px;
      }
      @media all and (max-width: 400px) {
         margin-left: 20px;
      }
   }
}