.accordion-item {
   padding-top: 70px;
}

.accordion-head {
   padding: 9px 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--decorationLight);
   cursor: pointer;
   transition: background 0.1s ease-out;
   &.animate {
      @include animateScrollFadeIn($toTop: true, $delay: 0.2s);
   }

   .head-title {
      padding-right: 15px;
      font-family: $Montserrat;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: var(--title);
      transition: all 0.1s ease-out;
   }

   .show-all {
      padding-right: 20px;
      position: relative;
      font-family: $Montserrat;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: var(--title);
      white-space: nowrap;
      transition: all 0.1s ease-out;
   }

   &:hover, &.active {
      background: var(--decorationBright);
      .head-title, .show-all {
         color: var(--lightness);
      }
   }
}

// * Слайдер
.accordion-visible {
   padding: 42px 0 0 0;
   &.animate {
      @include animateScrollFadeIn($toTop: true, $delay: 0.3s)
   }
   &.swiper-container {
      padding-bottom: 15px;
      position: relative;
      .catalog-swiper {
         padding: 20px 0;
      }
   }
}

.accordion-collapse {
   padding: 42px 0 12px 0;
   .catalog-col {
      margin-bottom: 30px;
      display: flex;
   }
   .hide-btn {
      margin-top: 7px;
      width: 100%;
      text-align: center;
      svg {
         width: 21px;
         height: 16px;
         stroke: var(--decorationBright);
         fill: transparent;
         cursor: pointer;
         transition: all 0.1s ease-out;
         &:hover {
            transform: scale(1.1);
         }
      }
   }
}

@media all and (max-width: 1200px) {
   .accordion-collapse {
      .catalog-col {
         flex: 0 0 33.3333%;
         max-width: 33.3333%;
      }
   }
}

@media all and (max-width: 900px) {
   .accordion-collapse {
      .catalog-col {
         flex: 0 0 50%;
         max-width: 50%;
      }
   }
   .accordion-head {
      .head-title {
         font-size: 19px;
      }
   }
}

@media all and (max-width: 600px) {
   .accordion-collapse {
      .catalog-col {
         flex: 0 0 100%;
         max-width: 100%;
      }
   }
}

@media all and (max-width: 570px) {
   .accordion-head {
      flex-direction: column;
      align-items: center;
      .head-title {
         margin-bottom: 10px;
         padding-right: 0;
         font-size: 17px;
         text-align: center;
      }
   }
}