.product-card {
   padding: 10px 17px 0 17px;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   border: 1px solid var(--border);
   position: relative;
   transition: all 0.2s ease-out;
   .hidden-text {
      position: absolute;
      top: 20px;
      left: 20px;
      max-width: 58px;
      font-family: $Montserrat;
      font-size: 12px;
      font-weight: 600;
      line-height: 100%;
      color: var(--decorationDark);
      z-index: 1;
   }
   .img {
      padding-bottom: 10px;
      background: var(--lightness);
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 275px;
      position: relative;
      img {
         max-width: 100%;
         height: auto;
      }
   }
   .info {
      padding: 16px 11px 13px 11px;
      border-top: 1px solid var(--border);
      border-image: var(--horizontalLine);
      border-image-slice: 1;
      transition: all 0.2s ease-out;
      .product-card-title {
         margin-bottom: 7px;
         font-size: 17px;
         font-weight: 600;
         line-height: 120%;
         color: var(--title);
         
      }
      .excerpt {
         font-size: 12px;
         font-weight: 300;
         line-height: 130%;
         letter-spacing: -0.02em;
         color: var(--text);
         @include visibleLines;
      }
   }
   &:hover {
      border-color: var(--decorationBright);
      box-shadow: var(--hoverCard);
      .info {
         border-top: 1px solid var(--decorationBright);
         border-image: var(--horizontalLineDecorationBright);
         border-image-slice: 1;
      }
   }
}