.nav-menu {
   ul {
      display: flex;
      align-items: center;
      gap: 15px;
      li {
         a {
            @include linksHover($color: var(--decorationBright));
            padding: 3px 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.01em;
            color: var(--lightness);
            transition: $bgsTransition, color 0.2s ease-out;
            &:hover {
               color: var(--decorationBright);
            }
         }
      }
   }
}

@media all and (max-width: 1240px) {
   .header-1 .nav-menu ul { gap: 10px; }
}

@media all and (max-width: 1200px) {
   .header-1 .nav-menu { display: none; }
}