.nav-menu {
   ul {
      display: flex;
      align-items: center;
      gap: 5px;
      li {
         a {
            @include linksHover($color: $proDecorLight);
            padding: 0 5px;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.01em;
            color: $white;
            transition: $bgsTransition, color 0.2s ease-out;
            &:hover {
               color: $proDecorLight;
            }
         }
      }
   }
}