// $containerDirection;
// $containerGap;
// $containerOverflow;
// $containerAfterRight;
// $containerAfterTop;
// $imgMatgin;
// $titleFontSize;
// $partWithLogoGap;
// $logoWidth;

// $paddingLogoX;
// $paddingLogoY;


.main-screen {
   position: relative;
   .ui-container {
      @include container(
         $flex: true, 
         $alignY: flex-start, 
         $margin: 40px auto 0 auto,
      );
      &:after {
         content: '';
         position: absolute;
         top: -580px;
         right: 30%;
         width: 650px;
         height: 650px;
         border-radius: 50%;
         background: var(--decorationLight);
         z-index: 1;
         opacity: 0;
         visibility: hidden;
         transition: all 2s $animationTimingFunction;
      }
      &.animation:after {
         right: 150px;
         opacity: 1;
         visibility: visible;
      }
   }
   
   &-info {
      margin-top: 110px;
      position: sticky;
      top: 110px;
      display: flex;
      flex-direction: column;
   }

   &-title {
      margin-bottom: 62px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: $Montserrat;
      font-size: 120px;
      line-height: 95%;
      letter-spacing: -0.03em;
      color: var(--darkness);
      strong {
         font-weight: 800;
         display: inline-block;
         &.animate {
            @include animateScrollFadeIn($toLeft: true, $delay: 0.5s);
         }
      }
      span {
         font-weight: 300;
         display: inline-block;
         &.animate {
            @include animateScrollFadeIn($toRight: true, $delay: 0.5s);
         }
      }
      .part-with-logo {
         display: flex;
         align-items: center;
         gap: 50px;
         .product-logo {
            padding: 17px 50px;
            display: flex;
            position: relative;
            &.animate {
               @include animateScrollFadeIn($toLeft: true, $delay: 1.2s);
            }
            &:before {
               content: '';
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: var(--decorationLight);
               border-left: 5px solid var(--decoration);
               transform: skewX(-25deg);
            }
            img {
               text-align: center;
               vertical-align: middle;
               width: 187px;
               height: auto;
               position: relative;
               z-index: 0;
            }
         }
      }
   }

   &-img {
      margin-right: -50px;
      z-index: -1;
      &.animate {
         @include animateScrollFadeIn($toLeft: true, $transform: 30px, $duration: 1.5s, $delay: 0.2s);
      }
      img {
         max-width: 100%;
         height: auto;
      }
   }

   .btn-wrap {
      margin-top: 65px;
      display: flex;
      align-items: center;
      gap: 20px;
      &.animate {
         @include animateScrollFadeIn($toTop: true, $delay: 0.95s);
      }
   }


   @media all and (max-width: 1530px) {
      &-img { margin-right: -20px; }
   }

   @media all and (max-width: 1440px) {
      $paddingX: calc((100vw - 990px)/(1440 - 990) * (50 - 30) + 30px);
      $paddingY: calc((100vw - 990px)/(1440 - 990) * (17 - 10) + 10px);

      &-title {
         font-size: calc((100vw - 990px)/(1440 - 990) * (120 - 85) + 85px);
         .part-with-logo {
            gap: 40px;
            .product-logo {
               padding: $paddingY $paddingX;
               img {  width: calc((100vw - 990px)/(1440 - 990) * (187 - 150) + 150px); }
            }
         }
      }
   }

   @media all and (max-width: 990px) {
      overflow: hidden;
      .ui-container {
         @include container(
            $flex: true,
            $alignY: flex-start,
            $margin: 40px auto 0 auto,
            $gap: 60px
         );
         flex-direction: column;
         &:after {
            right: 90%;
            top: -45%;
         }
         &.animation:after {
            right: 60%;
         }
      }
      &-info {
         margin-top: 0;
         order: 2;
         position: static;
         width: 100%;
         align-items: center;
      }
      &-title {
         margin-bottom: 0;
         font-size: 110px;
         align-items: center;
         span { 
            font-weight: 300; 
            &.animate {
               @include animateScrollFadeIn($toTop: true, $delay: 0.4s);
            }
         }
         strong.animate {
            @include animateScrollFadeIn($toTop: true, $delay: 0.3s);
         }
         
         .part-with-logo {
            gap: 50px;
            .product-logo {
               padding: 14px 55px;
               &.animate {
                  @include animateScrollFadeIn($toTop: true, $delay: 0.5s);
               }
               img { width: 190px; }
            }
         }
      }
      &-img {
         order: 1;
         margin-right: 0;
         width: 100%;
         display: flex;
         justify-content: center;
         picture {
            display: flex;
            justify-content: center;
         }
         img {
            max-width: 70%;
         }
      }
      .btn-wrap {
         margin: 60px 0 60px 0;
         order: 3;
         &.animate {
            @include animateScrollFadeIn($toTop: true, $delay: 0.3s);
         }
         button {
            padding: 19px 33px;
            font-size: 16px;
            min-height: 56px;
         }
      }
   }

   @media all and (max-width: 768px) {
      $paddingX: calc((100vw - 360px)/(768 - 360) * (50 - 25) + 25px);
      $paddingY: calc((100vw - 360px)/(768 - 360) * (17 - 8) + 8px);

      &-title {
         font-size: calc((100vw - 360px)/(768 - 360) * (110 - 65) + 65px);
         .part-with-logo {
            gap: calc((100vw - 360px)/(768 - 360) * (50 - 25) + 25px);
            .product-logo {
               padding: $paddingY $paddingX;
               img {  width: calc((100vw - 360px)/(768 - 360) * (190 - 110) + 110px); }
            }
         }
      }
      &-img {
         order: 1;
         margin-right: 0;
         width: 100%;
         display: flex;
         justify-content: center;
         picture {
            display: flex;
            justify-content: center;
         }
         img {
            max-width: 70%;
         }
      }
   }

   @media all and (max-width: 650px) {
      .ui-container {
         gap: 50px;
         &:after {
            top: -48%;
         }
      }
      &-img {
         img { max-width: 80%; }
      }
   }

   @media all and (max-width: 520px) {
      &-img {
         img { max-width: 100%; }
      }

      .btn-wrap {
         margin: 50px 0 50px 0;
         flex-direction: column;
         gap: 15px;
         button {
            padding: 17px 28px;
            font-size: 15px;
            min-height: 52px;
         }
      }
   }

   @media all and (max-width: 320px) {
      .btn-wrap {
         width: 100%;
         button {
            max-width: 100%;
            width: 100%;
         }
      }
   }
}