footer {
   background: var(--copyrightBg);
   .copyright {
      padding: 21px 0;
      font-family: $Montserrat;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
      text-align: center;
      color: var(--lightness);
      @media all and (max-width: 600px) {
         text-align: center;
      }
   }
}

