/* 
----------------------------------------------------------------------
   ! IMPORT
----------------------------------------------------------------------
*/
@use "sass:list";
@use "sass:math";

/* 
----------------------------------------------------------------------
   TODO: Container
----------------------------------------------------------------------
*/

@mixin container (
   $maxWidth: 1200px,
   $margin: 0 auto,
   $padding: 0 20px,
   $flex: false,
   $grid: false,
   $columns: 0,
   $rows: auto,
   $gap: 30px
   ) {
      margin: $margin;
      padding: $padding;
      max-width: $maxWidth;
      width: 100%;
      position: relative;
      z-index: 1;

      @if $flex {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      @if $grid {
         display: grid;
         grid-template-columns: $columns;
         grid-template-rows: $rows;
         align-items: start;
         gap: $gap
      }
}

.ui-container {
   @include container
}


@mixin animateScrollFadeIn (
   $fade: true,
   $opacity: false,
   $toTop: false,
   $toRight: false,
   $toBottom: false,
   $toLeft: false,
   $duration: .9s,
   $timingFunction: $animationTimingFunction,
   $delay: .4s,
   $transform: 15px,

) {
   opacity: 0;
   visibility: hidden;
   transition: transform $duration $timingFunction $delay, opacity $duration $timingFunction $delay, visibility $duration $timingFunction $delay;
   @if $fade {
      @if $toTop {
         transform: translateY($transform);
      }
   
      @if $toRight {
         transform: translateX(-$transform);
      }
   
      @if $toBottom {
         transform: translateY(-$transform);
      }
   
      @if $toLeft {
         transform: translateX($transform);
      }
   }
   &.animation {
      opacity: 1;
      visibility: visible;

      @if $fade {
         transform: none;
      }
   }
}
