$white: #fff;
$black: #2C2D2F;
$decoration: #0089cb;
$decorationDark: #356795;
$decorElements: #BCBEC0;
$grey: #F4F6F8;
$darkGrey: #1B1F24;
$sectionGrey: #3B434A;
$sectionDarkGrey: #242A30;
$text: #4F5355;
$socials: #666;
$borders: #DAE0E3;
$inputBorder: #C0C0C0; // #E3E8EA
$placeholder: #A5A4A4;
$overlay: rgba(0, 0, 0, 0.7);

// TECRON PRO
$blackDarkness: #000;
$proDecorBright: #D60000;
$proDecorLight: #FFEEED;




$animationTimingFunction: cubic-bezier(0.25, 0.8, 0.25, 1);

$shadow1: 0px 0px 60px rgba(46, 78, 96, 0.11);

$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;
