$white: #fff;
$black: #2C2D2F;
$decoration: #0089cb;
$decorationDark: #356795;
$decorElements: #BCBEC0;
$grey: #F4F6F8;
$darkGrey: #1B1F24;
$sectionGrey: #3B434A;
$sectionDarkGrey: #242A30;
$text: #4F5355;
$socials: #666;
$borders: #DAE0E3;
$overlay: rgba(0, 0, 0, 0.7);

$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;
