/* 
----------------------------------------------------------------------
   ! IMPORT
----------------------------------------------------------------------
*/ 

@import './fonts';
@import '../libs/reset.min';
@import '../libs/bootstrap-grid.min';
@import './_vars';
@import './_mixins';
// @import './_extends';
@import '../../node_modules/swiper/swiper-bundle.min';

// ? UI-компоненты
@import '../html/ui-components/preloader/preloader';
@import '../html/ui-components/logo/logo';
@import '../html/ui-components/header-phone/header-phone';
@import '../html/ui-components/icons-nav/icons-nav';
@import '../html/ui-components/ui-button/ui-button';
@import '../html/ui-components/ui-input/ui-input';
@import '../html/ui-components/ui-titles/titles';
@import '../html/ui-components/ui-subtitles/ui-subtitles';
@import '../html/ui-components/ui-close/ui-close';
@import '../html/ui-components/overlay/overlay';
@import '../html/templates/mobile-menu/burger';
@import '../html/ui-components/arrows/arrows';
@import '../html/ui-components/socials/socials';
@import '../html/ui-components/contact-links/contact-links';
@import '../html/ui-components/nav-menu/nav-menu';
@import '../html/ui-components/forms/search-form/search-form';
@import '../html/ui-components/ui-input/ui-input';
@import '../html/ui-components/list-product-features/list-product-features';

// ? Templates
@import '../html/templates/header/header-default/header-default';
@import '../html/templates/header/header-1/header-1';
// @import '../html/templates/mobile-menu/menu-1/menu-1';
@import '../html/templates/mobile-menu/menu-2/menu-2';
@import './_footer';

// ? Home
@import '../html/pages/home/section-our-sites/section-our-sites';
@import '../html/pages/home/section-welcome/section-welcome';
@import '../html/pages/home/section-catalog/section-catalog';
@import '../html/pages/home/section-for-why/section-for-why';
@import '../html/pages/home/section-contact/section-contact';

// ? Tecron pro
@import '../html/pages/tecron-pro/main-screen/main-screen';
@import '../html/pages/tecron-pro/section-features-company/section-features-company';
@import '../html/pages/tecron-pro/section-features-product/section-features-product';






* {
   box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-tap-highlight-color: transparent;
}

button {
   border: none;
   background: transparent;
   &:active, &:focus {
      border: none;
   }
}
html,body {
   height: 100%;
   // all: unset; // сбрасывыает все стили до значений по умолчанию
}

body {
   position: relative;
   font-family: $Roboto;
   &.no-scroll {
      overflow: hidden;
   }
}

a, a:focus, a:hover, a:active,
button, button:hover, button:active,
input, input:focus, input:hover, input:active {
   text-decoration: none;
   outline: none;
   // all: unset;
   cursor: pointer;
}



// * pagination swiper
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
   bottom: 0;
}

.swiper .swiper-pagination-bullet-active {
   background: var(--decorationBright);
}


// * arrows swiper 
.swiper-container {
   .swiper-button-next:after,
   .swiper-button-prev:after {
      content: '';
   }

   .swiper-button-next,
   .swiper-button-prev {
      opacity: 0;
      transition: all 0.2s ease-out;
      &:after {
         content: '';
      }
      svg {
         opacity: 0.7;
         width: 13px;
         height: 26px;
         stroke: var(--sliderNavElementsLight);
         transition: all 0.1s ease-out;
      }
      &:hover {
         svg {
            opacity: 1;
            stroke: var(--decorationBright);
            transform: scale(1.2);
         }
      }
   }
   .swiper-button-next {
      opacity: 0;
      right: 0;
   }

   .swiper-button-prev {
      opacity: 0;
      left: 0;
   }

   &:hover {
      .swiper-button-next {
         opacity: 1;
         right: 10px;
      }

      .swiper-button-prev {
         opacity: 1;
         left: 10px;
      }
   }
   @media (pointer: coarse) {
      .swiper-button-next,
      .swiper-button-prev {
         opacity: 1;
      }
      .swiper-button-next {right: 10px; }
      .swiper-button-prev {left: 10px; }
   }
}

