@mixin subtitle (
   $fontFamily: $Roboto,
   $fontSize: 23px,
   $fontWeight: 400,
   $lineHeight: 130%,
   $color: var(--decoration),
   $textAlign: center,
) {
   font-family: $fontFamily;
   font-size: $fontSize;
   font-weight: $fontWeight;
   line-height: $lineHeight;
   color: $color;
   text-align: $textAlign;
}

.ui-subtitle {
   margin-bottom: 23px;
   @include subtitle;
}

.ui-subtitle.main {
   margin-bottom: 20px;
   @include subtitle(
      $fontFamily: $Montserrat,
      $fontWeight: 600,
      $lineHeight: 120%,
      $textAlign: left
   );
   &.animate {
      @include animateScrollFadeIn($toLeft: true, $delay: 0.4s);
   }
   @media all and (max-width: 1440px) {
      font-size: calc((100vw - 1200px)/(1440 - 1200) * (22 - 21) + 21px);
   }

   @media all and (max-width: 990px) {
      margin-bottom: 15px;
      font-size: 20px;
      text-align: center;
      &.animate {
         @include animateScrollFadeIn($toTop: true, $delay: 0.2s);
      }
   }

   @media all and (max-width: 760px) {
      font-size: calc((100vw - 360px)/(768 - 360) * (20 - 18) + 18px);
   }
}