@mixin subtitle (
   $fontFamily: $Roboto,
   $fontSize: 22px,
   $fontWeight: 400,
   $lineHeight: 130%,
   $color: var(--decoration),
   $textAlign: center,
) {
   font-family: $fontFamily;
   font-size: $fontSize;
   font-weight: $fontWeight;
   line-height: $lineHeight;
   color: $color;
   text-align: $textAlign;
}

.ui-subtitle {
   margin-bottom: 23px;
   @include subtitle;
}

.ui-subtitle.main {
   margin-bottom: 14px;
   @include subtitle(
      $fontFamily: $Montserrat,
      $fontWeight: 600,
      $lineHeight: 120%,
      $textAlign: left
   )
}