.section-consult {
   margin-top: -90px;
   padding: 280px 0 110px 0;
   background: url('../../../../img/optimized/tecron_pro/consultation/consult-bg.webp') no-repeat center / cover;
   .btn-wrap {
      margin-top: 67px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      &.animate {
         @include animateScrollFadeIn($toTop: true, $delay: 0.2s);
      }
   }
   .section-title-product {
      margin: 0 auto;
      max-width: 890px;
   }

   @media all and (max-width: 768px) {
      $paddingTop: calc((100vw - 470px)/(768 - 470) * (280 - 210) + 210px);
      padding: $paddingTop 0 100px 0;
   }

   @media all and (max-width: 470px) {
      $paddingTop: calc((100vw - 280px)/(470 - 280) * (210 - 80) + 80px);
      margin-top: 0;
      padding: $paddingTop 0 110px 0;
   }

   @media all and (max-width: 680px) {
      .btn-wrap { 
         flex-direction: column;
         align-items: center;
      }
   }
}



.video-wrap {
   display: flex;
   align-items: center;
   justify-content: center;
   &.animate {
      @include animateScrollFadeIn($toBottom: true, $duration: 1.2s, $delay: 0.2s);
   }

   .ui-container {
      @include container($flex: true, $alignX: center)
   }
   .video-baner {
      padding: 5px;
      border-radius: 10px;
      position: relative;
      top: 70px;
      max-width: 1160px;
      display: inline-block;
      background: var(--lightness);
      img {
         max-width: 100%;
         height: auto;
         border-radius: 10px;
      }
      .btn-play {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         display: flex;
         align-items: center;
         justify-content: center;
         width: 120px;
         height: 120px;
         color: var(--lightness);
         background: var(--decoration);
         font-size: 22px;
         border-radius: 50%;
         animation: rippleInfinite 1s linear infinite;
      }
   }

   @media all and (max-width: 768px) {
      $sizeBtn: calc((100vw - 280px)/(768 - 280) * (120 - 50) + 50px);
      $fontSize: calc((100vw - 280px)/(768 - 280) * (22 - 16) + 16px);
      // $padding: calc((100vw - 280px)/(768 - 280) * (10 - 5) + 5px);

      .video-baner .btn-play { 
         width: $sizeBtn; 
         height: $sizeBtn; 
         font-size: $fontSize; 
      }
   }
}


@keyframes rippleInfinite {
   0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3); }
   100% { box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(255, 255, 255, 0); }
}